In [3]:
num1 = int(input('enter your frist no:'))
num2 = int(input('enter your second no:'))
res = num1+num2
print(res)

enter your frist no:5
enter your second no:2
7

In [43]:
n = int(input('enter n : '))
for i in range(1,n+1):
    print("your no is ",i)

enter n : 5
your no is  1
your no is  2
your no is  3
your no is  4
your no is  5

In [1]:
print("twinkle, twinkle, little star,\n\thow i wonder what you are!\n\t\tup above the world so high,\n\t\tlike a dimond in the sky,\ntwinkle, twinkle, little star,\n\thow i wonder what you are")

twinkle, twinkle, little star,
	how i wonder what you are!
		up above the world so high,
		like a dimond in the sky,
twinkle, twinkle, little star,
	how i wonder what you are

In [10]:
x=8
x='ram'
print(x)

ram

In [16]:
b, d , a = "kamlesh", "kumar", "prajapat"
print(b)
print(d)
print(a)

kamlesh
kumar
prajapat

In [19]:
x = b = a = "python"
print(x)
print(b)
print(a)

python
python
python

In [21]:
a=2
b=3
c=a+b
print(c)

5

In [1]:
x = int(input('enter your numebr:'))
y =  int(input('enter your secod number:'))
z = x+y
print("this no is :",z)

enter your numebr:56
enter your secod number:26
this no is : 82

In [8]:
n=1500
while n<2700:
    if( n%7==0) and (n%5==0):
        print(n,end=" ")
    n=n+1

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [51]:
add=2
m=[2,5,6,3]
for i in m:
    add=i/add
    print(add)

1.0
5.0
1.2
2.5

In [67]:
a=[1,5,6,85,4]
# for i in a:
#     i<=a
print(max(a))

85

In [1]:
mylist=[9826,54,6,89,21]
biggest=mylist[0]
for i in mylist:
    if i>biggest:
        biggest=i
        print(biggest)
else:
            print("error")

error

In [25]:
n=int(input("enter your number::"))
if n%2==1:
    print("wired")
elif n>=2 and n<5:
    print("not weird")
elif n>6 and n<=20:
    print("weird")
elif n>20:
    print("not weird")

enter your number::20
weird

In [27]:
n=int(input("enter your number::"))
for i in range(n):
    i=i**2
    print(i)

enter your number::3
0
1
4

In [1]:
list=[]
list.append(1)
list.append(2)
list.insert(1,3)
print(list)

[1, 3, 2]

In [11]:
def is_leap(year):
    leap = False
    if year % 400 == 0:
        return True
    if year % 100 == 0:
        return False
    if year % 4 == 0:
        return True
    return False
    return leap

year = int(input("Enter your year::"))
print(is_leap(year))

Enter your year::5255
False

In [17]:
list=["kamlesh"]
print(list)
print(type(list))
tuple=tuple(list)
print(tuple)

['kamlesh']
<class 'list'>

TypeError: 'tuple' object is not callable