In [4]:
# string formating 
a="welcome in my house "
b=50
print("hii",a,b,"thanks for visit my house::")
print(f"hii {a},{b} thanks")

hii welcome in my house  50 thanks for visit my house::
hii welcome in my house ,50 thanks

In [10]:
a=int(input("enter your age::"))
b=int( input("enter your age ::"))

print(f" add.{a}+{b}=",a+b)

enter your age::25
enter your age ::265
 add.25+265= 290

In [2]:
a="hii i am {0} i am form  {1} and read in {2}"
print(a.format("kamlesh","bhudla", "jaipur"))

hii i am kamlesh i am form  bhudla and read in jaipur

In [5]:
print("hii %s %i "%("kamlesh",20))

hii kamlesh 20

In [8]:
print(" hii  i am {0} form {1} i am read {2}".format("kamlesh","bhudla","jaipur"))

 hii  i am kamlesh form bhudla i am read jaipur

In [10]:
a,b,c,d="kamlesh","kumar","prajapat",9587439122
print("I`m %s %s %s %i"%(a,b,c,d))

I`m kamlesh kumar prajapat 9587439122

In [24]:
a = 32.2515
print(type(a))
print('I wrote %i programs today.' %a)
print('I wrote %f programs today.' %4)
print('I wrote %.4fprograms today.' %a)

<class 'float'>
I wrote 32 programs today.
I wrote 4.000000 programs today.
I wrote 32.2515programs today.

In [35]:
a=float(input("enter your number ::"))
b=float(input("enter your second number :: "))
c=a+b
print('this add ::%.2f'%c)

enter your number ::3.362
enter your second number :: 6.362
this add ::9.72

In [7]:
a=" hello kamlesh {0} {1}"
print(a.format(" kumar ","prajapat"))

 hello kamlesh  kumar  prajapat

In [12]:
print("%s is my %s"%("kamlesh","brother") )

kamlesh is my brother

In [16]:
a,b,c,d="kamlesh","kumar","prajapt",9587439122
print("i`m %s %s %s %i" %(a,b,c,d))

i`m kamlesh kumar prajapt 9587439122

In [22]:
print('i am live on {0} {1} {2}'.format("facebook","and","zoom"))

i am live on facebook and zoom

In [6]:
a=25.315
print("i am write in %.2f"%a)

i am write in 25.32

In [27]:
a="kamlesh kumar prajapat"
b="hii i am {0} {1} {2}"
c,d="kamlesh","bhudla"
g=8555.3265
# print(a)
# print(f"hii i am {a}")
# print("hii i am %s"%(a)
print(a.format(a))
print( "i am {0} {1} {2}".format("kamlesh","kumar","prajapat") )
print(b.format("kamlesh","bhudla","bassi"))
print("hii i am %s %s "%(c,d))
print(" hii iam write %.2f"%g)
print("%s is my brother and %i is my number "%("rajender",9587439122))

kamlesh kumar prajapat
i am kamlesh kumar prajapat
hii i am kamlesh bhudla bassi
hii i am kamlesh bhudla
 hii iam write 8555.33
rajender is my brother and 9587439122 is my number

In [33]:
a=float(input("enter your number::"))
b=float(input("enter your second number::"))
c=a+b
print("this is sum of %.4f"%c)

enter your number::25
enter your second number::2.62541
this is sum of 27.6254

In [36]:
# casting
a=float(253.32)
print(a)

253.32

In [45]:
# strig method
# len
a="kamlesh kumar prajapat"
print(len(a))
print(a[-4])

22
a

In [47]:
a="KAMLESH KUMAR PRAJAPAT"
print(a.lower())

kamlesh kumar prajapat

In [49]:
a="kamlesh kumar prajapat"
print(a.upper())

KAMLESH KUMAR PRAJAPAT

In [56]:
a="kamlesh kumar prajapat"
print(a.strip())

kamlesh kumar prajapat

In [63]:
a="kamlesh kumar prajapat"
b="bhudla ,bassi"
print(a.lstrip( )+ b)

kamlesh kumar prajapatbhudla ,bassi

In [66]:
a="kamlesh,kumar"
print(a.replace("kumar","prajapat"))
print(a.replace("kamlesh","rajender"))

kamlesh,prajapat
rajender,kumar

In [68]:
a="happy morning"
x=a.split("y")
print(x)

['happ', ' morning']

In [71]:
a="apple"
a.capitalize()

'Apple'

In [1]:
# # collection data type 
# # thare are foure data type
# list[]
# tuple()
# set{}
# dictonary{key:value
# list[]-:list a collection data type which is oraderd indexed and changeable,Allow duplication member
# tuple()-:tuple a collection data type which is oraderd indexed and unchangeable,Allow duplication member
# set{}-:set is a collection data type which is unorderd unindexed and changeable ,not allow duplication member
# dictonary-:dictonary is a collection data type which is unorderd but indexed with key and value changeable and allow duplication member
list_1=["kamlesh","kumar","prjapat"]
print(type(list_1))
print(len(list_1))
print(list_1[1])
print(id (list_1))
print('before:',list_1)
list_1[0]="teena"
print('after:',list_1)

<class 'list'>
3
kumar
139647037707400
before: ['kamlesh', 'kumar', 'prjapat']
after: ['teena', 'kumar', 'prjapat']

In [11]:
a=["kamlesh","kumar"]
print(a)
print(type(a))
print("before:",a)
a[1]="teena"
print("after:",a)
print(a[0])
print(a[1])
print(id(a))

['kamlesh', 'kumar']
<class 'list'>
before: ['kamlesh', 'kumar']
after: ['kamlesh', 'teena']
kamlesh
teena
139647072058376

In [6]:
a=["kamlesh",1,52,4,6,5,"kumar",95,74,42,35,15,"prajapat"]
print(len(a))
print(a[-13])
print(type(a))
print(a[0:6])
print(a[0:10:2])
print(a[0::5])

13
kamlesh
<class 'list'>
['kamlesh', 1, 52, 4, 6, 5]
['kamlesh', 52, 6, 'kumar', 74]
['kamlesh', 5, 35]

In [11]:
# list method 
# 1.append method :- the add item at last position in list
item=["rajasthan","up","mp"]
item.append("bihar")
item.append("ap")
item.append(9587439122)
print(item)

['rajasthan', 'up', 'mp', 'bihar', 'ap', 9587439122]

In [17]:
# 2.insert method in list give that position 
item=[95,87,43,91,22,"kamlesh"]
print(len(item))
item.insert(7,"kumar")
item.insert(8,"prajapat")
print(item)

6
[95, 87, 43, 91, 22, 'kamlesh', 'kumar', 'prajapat']

In [22]:
# remove method :- remove item in list use remove method
item=["jaipur","bassi","bhudla","rajwas","kamlesh"]
item.remove("rajwas")
item.remove("jaipur")
print(item)

['bassi', 'bhudla', 'kamlesh']

In [29]:
# pop method:-pop method are use remove item in list by index.
item=["kamlesh","meena","teena","adira","payal","gunjan","radhika","ankita","golya","kannu","kalpna"]
item.pop(1)
item.pop()
print(item)

['kamlesh', 'teena', 'adira', 'payal', 'gunjan', 'radhika', 'ankita', 'golya', 'kannu']

# del keyword:- the del keyword use remove item the spicified index.
item=[9,5,1,24,6,8,54,31,525,"ras","ips","sdm"]
del item[-1]
print(item)

In [50]:
# clear method:-clear the list use for clear method
item=[1,62,5,7,24,35,16,69,35654,143]
item.clear()
print(item)

[]

In [64]:
# copy method :-copy list use for copy method
item=["kamlesh","teena","payal","gunjan","radhika","ankita","golya"]
mylist=item.copy()
mylist.pop()
mylist.insert(6,"golya")
mylist.append("rahual")
mylist.remove("rahual")
# mylist.clear()
print(mylist)

['kamlesh', 'teena', 'payal', 'gunjan', 'radhika', 'ankita', 'golya']

In [67]:
# copy method:-
item=["kamlesh","teena","rahual","kaanu"]
mylist=list(item)
print(mylist)

['kamlesh', 'teena', 'rahual', 'kaanu']

In [73]:
# count method:-count method used in list for count item.
item=[5,2,6,2,45,8,7,4,1,5,2,3,6,9,5,6,5,2,6,5,23,6,5,5,5,1,4,8,7,5,1,2,5,6,3,9,587,74]
a=item.count(2)
print(a)

5

In [78]:
# index method:-index method show the item index.
item=["kamlesh","teena","rahual","kaanu"]
a=item.index("kamlesh")
a=item.index("teena")
print(a)

1

In [83]:
# extend method:- add element to one list to another list.
item=["kamlesh","rahual","kaanu","chuunu","ganesh"]
girl=["teena","payal","gunjan","radhika"]
item.extend(girl)
print(item)

['kamlesh', 'rahual', 'kaanu', 'chuunu', 'ganesh', 'teena', 'payal', 'gunjan', 'radhika']

In [3]:
# reverse method:-reverse list for use revers.
item=["kamlesh",1,"teena",2,"rahual",3,"kaanu",4]
item.reverse()
print(item)

[4, 'kaanu', 3, 'rahual', 2, 'teena', 1, 'kamlesh']

In [14]:
# sort method:- sort the list item
item=['z','x','c','v','b','n','m','a','s','d','f','g','h','j','k','l','q','w','e','r','t','y','u','i','o','p']
# item=["kamlesh","teena"]
item.sort()
print(item)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [17]:
# tuple();-four method in tuple.
# 1.len=print the number of item in the value.
# 2.count=return the number of occerences of value.
# 3.indext=returen frist index a value.4
# 4.del =the del keyword can delete the tuple.

In [30]:
item=("kamlesh","teena",25,42,6,15,24,6943,54,21,6234,5189,"prajapat")
print(type(item))
print(len(item))
print(item[-1])
print(item[1:5])
print(id(item))

<class 'tuple'>
13
prajapat
('teena', 25, 42, 6)
140249829894144

In [35]:
item=("kamlesh","teena","rahual","gunnu","madhvi","mohit","kamlesh")
a=item.count("kamlesh")
print(a)

2

In [38]:
item=("ipsita","madhvi","kamlesh","teena","ajay","bharti","khusi","kiran","shubham")
print(item)
a=item.index("teena")
print(a)

('ipsita', 'madhvi', 'kamlesh', 'teena', 'ajay', 'bharti', 'khusi', 'kiran', 'shubham')
3

In [14]:
item=("kamlesh","teena")
del item([0])
print(item)

SyntaxError: can't delete function call (<ipython-input-14-69d9f46f6066>, line 2)

In [9]:
# set data type {}:- set data type is unorders unindexted chaglable and do not allow duplication member
item ={"kamlesh ","kumar","prajapat","prajapat"}
print(type(item))
print(len(item ))
print("before:",item)

<class 'set'>
3
before: {'kumar', 'kamlesh ', 'prajapat'}

In [11]:
# set data type method:-
# add:- add item in set.
item={"kamlesh","bhudla"}
item.add("tenna")
print(item)

{'kamlesh', 'bhudla', 'tenna'}

In [1]:
# updte method:- add item in data type:
item={"kamlesh","prajapat","bhudla"}
item.update("teena")
print(item)

{'kamlesh', 'e', 'n', 'bhudla', 't', 'a', 'prajapat'}

In [6]:
# remove method:- remove the item in set.
item={'kamlesh','kumar','teena'}
item.remove('kumar')
print(item)

{'teena', 'kamlesh'}

In [10]:
# discard method:- discard tha item and not show error
item={"kamlesh","ankita","teena"}
item.discard('ankita')
print(item)

{'teena', 'kamlesh'}

In [1]:
# diffrence method:-remove all element of another set form this set.
item1={"a","v","f","b"}
item2={"a","f","r","w","r"}
a=item2.difference(item1)
print(a)

{'w', 'r'}

In [3]:
item={"kamlesh","kumar"}
item1={"kamlesh","prajapat"}
all=item.difference_update(item1)
print(all)

None

In [7]:
# pop method=:- remove the item
item={"apple","banana","cat"}
item.pop()
print(item)

{'cat', 'banana'}

In [10]:
# intersection method:- return the intersection of two sets as a new set.
a={'w','r','g','s'}
b={'w','r','j','h'}
c=a.intersection(b)
print(c)

{'w', 'r'}

In [12]:
# intersection_upate method:- returen the intersection of two sets as a new set.
# the intersection_update returen none indicating the object is mutated.
a={'g',"d"}
b={'v','e'}
c=a.intersection_update(b)
print(c)

None

In [15]:
# union():-return the union of sets as a new set.(create a variable)
a={"kamlesh","prajapat"}
b={"kumar","bhudla"}
c=b.union(a)
print(c)

{'prajapat', 'kamlesh', 'bhudla', 'kumar'}

In [8]:
# isdisjoint:-return true if two set have true
a={"kamlesh","kumar"}
b={5,2,4,158,7}
c=b.isdisjoint(a)
print(c)

True

In [14]:
# is subset:-returen whether another set contaion the set
a={'f','s','x','w'}
b={'f','s','w','x'}
c=a.issubset(b)
print(c)

True

In [17]:
# issuper set :- returen wheter this set to another set.
a={'v','n','s','r'}
b={'n','v','r','s'}
c=a.issuperset(b)
print(c)

True

In [22]:
set1={5,84,36,9,54,4,164,5}
print(len(set1))
# print(set1)
for x in set1:
    print(x)

7
36
5
4
164
9
84
54

In [26]:
set1={'kamlesh','kumr','prajapat'}
if 'teena' in set1:
    print('yes this is set')
else:
    print("soory this no this set")

soory this no this set

In [36]:
# dictionary data type:
friuts={1:'apple',2:'banana',3:'mango',4:'orange'}
print(friuts)
friuts['year']=2000
friuts[2]='tomoto'
friuts['name']='kamlesh'
friuts['name']='teena'
print(friuts)
a=friuts.get(4)
print(a)
print(friuts.keys())
print(friuts.values())

{1: 'apple', 2: 'banana', 3: 'mango', 4: 'orange'}
{1: 'apple', 2: 'tomoto', 3: 'mango', 4: 'orange', 'year': 2000, 'name': 'teena'}
orange
dict_keys([1, 2, 3, 4, 'year', 'name'])
dict_values(['apple', 'tomoto', 'mango', 'orange', 2000, 'teena'])

In [40]:
# get method in dicitionary
brand={'car':'maruti'}
name=brand.get('car')
print(name)

maruti

In [8]:
# update method in dicitionary
dict1={'name':'kamlesh'}
dict2={'name1':'teena'}
dict1.update(dict2)
print(dict1)

{'name': 'kamlesh', 'name1': 'teena'}

In [17]:
a={'name':'kamlesh','dob':2000}
a.update({'class':15})
a.pop('dob')
print(a)

{'name': 'kamlesh', 'class': 15}

In [23]:
dict1={'class':1,'name':'kamlesh'}
item=dict1.popitem()
print(item)

('name', 'kamlesh')

In [3]:
name={'car':'maruti','brand':'hero'}
name.clear()
print(name)
# del name()
# print(name)

{}

In [41]:
item={'teena':'kamlesh','class':12}
print(type(item))
item["name"]="rahual"
item.pop('class')
print(item)

<class 'dict'>
{'teena': 'kamlesh', 'name': 'rahual'}

In [2]:
list1 = ['Saranya', 'Surya', 'Manu']

#convert list into tuple
tuple1 = tuple(list1)

print(tuple1)
print(type(tuple1))

('Saranya', 'Surya', 'Manu')
<class 'tuple'>

In [3]:
a=[1,25,3,6,5]
b=tuple(a)
print(b)
print(type(b))
print( type(a))

(1, 25, 3, 6, 5)
<class 'tuple'>
<class 'list'>

In [8]:
n=1
while(n<=200):
    if n%5==0:
        print(n,end=" ")
    n=n+1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200

In [5]:
a=500
while(a>=1):
    if a%5==0:
        print(a,end=" ")
    a=a-1

500 495 490 485 480 475 470 465 460 455 450 445 440 435 430 425 420 415 410 405 400 395 390 385 380 375 370 365 360 355 350 345 340 335 330 325 320 315 310 305 300 295 290 285 280 275 270 265 260 255 250 245 240 235 230 225 220 215 210 205 200 195 190 185 180 175 170 165 160 155 150 145 140 135 130 125 120 115 110 105 100 95 90 85 80 75 70 65 60 55 50 45 40 35 30 25 20 15 10 5

In [2]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    if i%3==0:
        print(i,end=" ")
        print(l)

3 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
9 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
 a="kamlesh","kumar","prajapat"
for i in a:
    if i=="kumar":
        break
    print(i)

kamlesh

In [6]:
for i in a:
    if i=="kumar":
        continue
    print(i)

kamlesh
prajapat

In [11]:
a="625833832136"
for i in a:
    if i=="3":
        continue
    print(i)

6
2
5
8
8
2
1
6

apple
cherry