In [1]:
#\n=for new line in programe.
a = 'hi everyone\ngood morning \n"my name is kamlesh kumar prajapat"\n"i have done diploma in computer sicence engg. in 2019"'
print(a)

hi everyone
good morning
"my name is kamlesh kumar prajapat"
"i have done diploma in computer sicence engg. in 2019"

In [6]:
#idexing in string = represent of string value.
# start index in python language=0123456789.
a="i am kamlesh kumar prajpat"
print(len(a))
print(a[15])
print(a[7])

26
m
m

In [27]:
# lenth count fumction
a = 'i am kamlesh kumar prajapat'
print(len(a))

27

In [5]:
#double quoits  represnt in program.
a = '"i am kamlesh kumar prajajpat"'
print(a)

"i am kamlesh kumar prajajpat"

In [4]:
# single quoits represnt in program.
a = "'i am kamlesh kumar prajapat'"
print(a)

'i am kamlesh kumar prajapat'

In [21]:
# use for triple quiots(''' ''')
a ='''Helo good morining
i am kamlesh kumar prajapat
i live jaipur in rajasthan 
 i have done diploma in computer science engg.in 2019
 and B.A clear in 2019
my father a farmer  and we are five brother$sister
me learn python language in present time 
my hooby singing song and watch movies.'''
print(a)

Helo good morining
i am kamlesh kumar prajapat
i live jaipur in rajasthan
 i have done diploma in computer science engg.in 2019
 and B.A clear in 2019
my father a farmer  and we are five brother$sister
me learn python language in present time
my hooby singing song and watch movies.

In [25]:
# use for triple quiots(""" """) 
x = """Hello gyu`s 
good moring everyone 
I am kamlesh kumar prajapat
I live jaipur in rajathan
I have done diploma in computer science engg. in 2019
           and with clear B.A in 2019 form rajasthan university for non colllage 
we are seven member in my family! my father is a farmer amd we are five brother $ sister.
my hobby singing song and watch movies,love story and read the book.
me learn python programe language in present time.
i am very happy fell with you do work in python language
so fillinly very haapy.

Thank you everyone                                                    
                                                                           
                                                                                      
                                                                                       sing
                                                                                       
                    Made by kamlesh kumar prajapat mo.9587439122
                     programmer in python language"""
print(x)

Hello gyu`s
good moring everyone
I am kamlesh kumar prajapat
I live jaipur in rajathan
I have done diploma in computer science engg. in 2019
           and with clear B.A in 2019 form rajasthan university for non colllage
we are seven member in my family! my father is a farmer amd we are five brother $ sister.
my hobby singing song and watch movies,love story and read the book.
me learn python programe language in present time.
i am very happy fell with you do work in python language
so fillinly very haapy.

Thank you everyone


                                                                                       sing

                    Made by kamlesh kumar prajapat mo.9587439122
                     programmer in python language

In [29]:
# lower function in prgram.
a = 'I AM KAMLESH KUMAR PRJAPAT '
print(a.lower())

i am kamlesh kumar prjapat

In [31]:
#upper function in program.
a = 'i am kamlesh kumar prajapat'
print(a.upper())

I AM KAMLESH KUMAR PRAJAPAT

In [35]:
#strip function in program.
a="my name is kamlesh kumar prajapat"
print(a.strip())

my name is kamlesh kumar prajapat

In [37]:
#lstrip in program.
a='i am kamlesh '
b='kumar prajapat'
print(a.lstrip()+b)

i am kamlesh kumar prajapat

In [60]:
#Replace is work to replace in string.
text= "hello kamlesh,hello prajapat ji"
print(text.replace("hello","good morning"))

good morning kamlesh,good morning prajapat ji

In [3]:
#split=remove the word in string.
#use the split function.
string='qkamlesh qkumar qprajapat'
x=string.split("q")
print(x)

['', 'kamlesh ', 'kumar ', 'prajapat']

In [2]:
#use for capitalize
a="kamlesh kumar prajapat"
a.capitalize()

'Kamlesh kumar prajapat'

In [12]:
# string formating 
a=int(input("enter your age:"))
b=int(input("enter your age:"))
print("my age is",a-b)
print("my age is",a+b)

enter your age:35
enter your age:65
my age is -30
my age is 100

In [40]:
# x Format string
x = "this artical {0}  writen by {1}{2}"
print(x.format("is","kamlesh","kumar"))

this artical is  writen by kamleshkumar

In [50]:
a="welcome to"
b="'india'"
print("hii",a,b,"thanks")
print(F"hii", {a},{b},"thanks")

hii welcome to 'india' thanks
hii {'welcome to'} {"'india'"} thanks

In [56]:
#f.formating
print("codeasession is live {0} {1} {2} ".format("instagram","and","facebook",))

codeasession is live instagram and facebook

In [85]:
a = 'kamlesh'
print("i`m %s %s form jaipur rajasthan"%("kamlesh","kumar"))
print("i`m %s live in %s toady 5pm."%("kamlesh","facebook instagram"))
print("hii i`m",a)

i`m kamlesh kumar form jaipur rajasthan
i`m kamlesh live in facebook instagram toady 5pm.
hii i`m kamlesh

In [2]:
a=int(input('enter you no:'))
print("i`m wrote %i programe today."%a)
print("i`m wrote %f programe today ."%585)
print("i`m wrote %5f programe today."%25)

enter you no:65
i`m wrote 65 programe today.
i`m wrote 585.000000 programe today .
i`m wrote 25.000000 programe today.

In [6]:
# casting = change formate  use for casting
# integer casting
x=int(45)
y=int(20.5)
z=int("2")
print(x)
print(y)
print(z)
print(type(z),'\n',type(y),'\n',type(y))

45
20
2
<class 'int'>
 <class 'int'>
 <class 'int'>

In [1]:
# float casting 
x=float(1)
y=float(552120.)
z=float("254")
print(x,'\n',y,'\n',z)
print(type(x),'\n',type(y),'\n',type(z))

1.0
 552120.0
 254.0
<class 'float'>
 <class 'float'>
 <class 'float'>

In [2]:
x=10
x +=1
print(x)

11

In [9]:
#operator
# Airthmatic operator
'''
+     addition        x+y
-     subtraction     x-y
*     multiplication  x*y
/     division        x/y
**    Exponentiation  x**y
//    floor devision  x//y
%     modul           x%y
'''

number_1 = int(input('Please enter the first number: '))
number_2 = int(input('Please enter the second number: '))
a=number_1
b=number_2
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
h=a**b
i=a%b
print(F"addition {c}")
print(f"subtraction {d}")
print(f"multiplacation {e}")
print(f"devision {f}")
print(f"floor devision {g}")
print(f"Exponentiation {h}")
print(f"modual {i}")

Please enter the first number: 25
Please enter the second number: 21
addition 46
subtraction 4
multiplacation 525
devision 1.1904761904761905
floor devision 1
Exponentiation 227373675443232059478759765625
modual 4

In [13]:
# Assignment operator
''' 1.       =       x = 5       x = 5
    2.      +=      x += 5      x = x + 5
    3.      -=      x -= 3      x = x - 3
    4.      *=      x *= 3      x = x * 3
    5.      /=      x /= 3      x = x / 3
    6.      %=      x %= 3      x = x % 3
    7.      //=     x //= 3     x = x // 3
    8.      **=     x **= 3     x = x ** 3
'''
a="kamlesh"
b=544
print(a,b)

kamlesh 544

In [51]:
x=5
y=45
x += y
print(x)

50

In [53]:
# comparision operator
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y
    '''
# equal
a=5
b=5
print(a==b)

True

In [58]:
# not equal
a=5
b=5
print(a!=b)

False

In [61]:
# equal less than
a=10
b=10
print(a<=b)

True

In [64]:
# equal grater than
a=2
b=5
print(a>=b)

False

In [26]:
# logical operator [and,or,not]
# And
a=10
b=21
c=35
print(a<b and a<c)

True

In [36]:
# Or
a=52
b=25
c=45
print(a<b or a>c)

True

In [65]:
# Not
a=5
b=7
c=21
print( not a>b )

True

In [76]:
# identity operator 
# thay are two type
# 1=is and 2=is not
a='kamlesh'
b='kamlesh kumar' 
print(id (a))
print(id (b))
print(a is b)

140053187433728
140053119479472
False

In [81]:
a=25
b=25
print(id(a))
print(id(a))
print(a is not  b)

94626963564320
94626963564320
False