In [1]:
#\n=for new line in programe.
a = 'hi everyone\ngood morning \n"my name is kamlesh kumar prajapat"\n"i have done diploma in computer sicence engg. in 2019"'
print(a)

hi everyone
good morning
"my name is kamlesh kumar prajapat"
"i have done diploma in computer sicence engg. in 2019"

In [1]:
#indexing in string = represent of string value.
# start index in python language=0123456789.
a="i am kamlesh kumar prajpat"
print(len(a))
print(a[15])
print(a[7])

26
m
m

In [8]:
# string sub list
a="kamlesh kumar prajapat"
print(len(a))
print("range=",a[0:22:5])

22
range= ksmra

In [27]:
# lenth count fumction
a = 'i am kamlesh kumar prajapat'
print(len(a))

27

In [5]:
#double quoits  represnt in program.
a = '"i am kamlesh kumar prajajpat"'
print(a)

"i am kamlesh kumar prajajpat"

In [4]:
# single quoits represnt in program.
a = "'i am kamlesh kumar prajapat'"
print(a)

'i am kamlesh kumar prajapat'

In [21]:
# use for triple quiots(''' ''')
a ='''Helo good morining
i am kamlesh kumar prajapat
i live jaipur in rajasthan 
 i have done diploma in computer science engg.in 2019
 and B.A clear in 2019
my father a farmer  and we are five brother$sister
me learn python language in present time 
my hooby singing song and watch movies.'''
print(a)

Helo good morining
i am kamlesh kumar prajapat
i live jaipur in rajasthan
 i have done diploma in computer science engg.in 2019
 and B.A clear in 2019
my father a farmer  and we are five brother$sister
me learn python language in present time
my hooby singing song and watch movies.

In [25]:
# use for triple quiots(""" """) 
x = """Hello gyu`s 
good moring everyone 
I am kamlesh kumar prajapat
I live jaipur in rajathan
I have done diploma in computer science engg. in 2019
           and with clear B.A in 2019 form rajasthan university for non colllage 
we are seven member in my family! my father is a farmer amd we are five brother $ sister.
my hobby singing song and watch movies,love story and read the book.
me learn python programe language in present time.
i am very happy fell with you do work in python language
so fillinly very haapy.

Thank you everyone                                                    
                                                                           
                                                                                      
                                                                                       sing
                                                                                       
                    Made by kamlesh kumar prajapat mo.9587439122
                     programmer in python language"""
print(x)

Hello gyu`s
good moring everyone
I am kamlesh kumar prajapat
I live jaipur in rajathan
I have done diploma in computer science engg. in 2019
           and with clear B.A in 2019 form rajasthan university for non colllage
we are seven member in my family! my father is a farmer amd we are five brother $ sister.
my hobby singing song and watch movies,love story and read the book.
me learn python programe language in present time.
i am very happy fell with you do work in python language
so fillinly very haapy.

Thank you everyone


                                                                                       sing

                    Made by kamlesh kumar prajapat mo.9587439122
                     programmer in python language

In [29]:
# lower function in prgram.
a = 'I AM KAMLESH KUMAR PRJAPAT '
print(a.lower())

i am kamlesh kumar prjapat

In [31]:
#upper function in program.
a = 'i am kamlesh kumar prajapat'
print(a.upper())

I AM KAMLESH KUMAR PRAJAPAT

In [35]:
#strip function in program.
a="my name is kamlesh kumar prajapat"
print(a.strip())

my name is kamlesh kumar prajapat

In [37]:
#lstrip in program.
a='i am kamlesh '
b='kumar prajapat'
print(a.lstrip()+b)

i am kamlesh kumar prajapat

In [60]:
#Replace is work to replace in string.
text= "hello kamlesh,hello prajapat ji"
print(text.replace("hello","good morning"))

good morning kamlesh,good morning prajapat ji

In [3]:
#split=remove the word in string.
#use the split function.
string='qkamlesh qkumar qprajapat'
x=string.split("q")
print(x)

['', 'kamlesh ', 'kumar ', 'prajapat']

In [2]:
#use for capitalize
a="kamlesh kumar prajapat"
a.capitalize()

'Kamlesh kumar prajapat'

In [12]:
# string formating 
a=int(input("enter your age:"))
b=int(input("enter your age:"))
print("my age is",a-b)
print("my age is",a+b)

enter your age:35
enter your age:65
my age is -30
my age is 100

In [40]:
# x Format string
x = "this artical {0}  writen by {1}{2}"
print(x.format("is","kamlesh","kumar"))

this artical is  writen by kamleshkumar

In [50]:
a="welcome to"
b="'india'"
print("hii",a,b,"thanks")
print(F"hii", {a},{b},"thanks")

hii welcome to 'india' thanks
hii {'welcome to'} {"'india'"} thanks

In [56]:
#f.formating
print("codeasession is live {0} {1} {2} ".format("instagram","and","facebook",))

codeasession is live instagram and facebook

In [85]:
a = 'kamlesh'
print("i`m %s %s form jaipur rajasthan"%("kamlesh","kumar"))
print("i`m %s live in %s toady 5pm."%("kamlesh","facebook instagram"))
print("hii i`m",a)

i`m kamlesh kumar form jaipur rajasthan
i`m kamlesh live in facebook instagram toady 5pm.
hii i`m kamlesh

In [2]:
a=int(input('enter you no:'))
print("i`m wrote %i programe today."%a)
print("i`m wrote %f programe today ."%585)
print("i`m wrote %5f programe today."%25)

enter you no:65
i`m wrote 65 programe today.
i`m wrote 585.000000 programe today .
i`m wrote 25.000000 programe today.

In [6]:
# casting = change formate  use for casting
# integer casting
x=int(45)
y=int(20.5)
z=int("2")
print(x)
print(y)
print(z)
print(type(z),'\n',type(y),'\n',type(y))

45
20
2
<class 'int'>
 <class 'int'>
 <class 'int'>

In [1]:
# float casting 
x=float(1)
y=float(552120.)
z=float("254")
print(x,'\n',y,'\n',z)
print(type(x),'\n',type(y),'\n',type(z))

1.0
 552120.0
 254.0
<class 'float'>
 <class 'float'>
 <class 'float'>

In [2]:
x=10
x +=1
print(x)

11

In [4]:
#operator
# Airthmatic operator
'''
+     addition        x+y
-     subtraction     x-y
*     multiplication  x*y
/     division        x/y
**    Exponentiation  x**y
//    floor devision  x//y
%     modul           x%y
'''

number_1 = int(input('Please enter the first number: '))
number_2 = int(input('Please enter the second number: '))
a=number_1
b=number_2
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
h=a**b
i=a%b
print(F"addition {c}")
print(f"subtraction {d}")
print(f"multiplacation {e}")
print(f"devision {f}")
print(f"floor devision {g}")
print(f"Exponentiation {h}")
print(f"modual {i}")

Please enter the first number: 65
Please enter the second number: 35
addition 100
subtraction 30
multiplacation 2275
devision 1.8571428571428572
floor devision 1
Exponentiation 2831180005211263819872914124137259968431317247450351715087890625
modual 30

In [13]:
# Assignment operator
''' 1.       =       x = 5       x = 5
    2.      +=      x += 5      x = x + 5
    3.      -=      x -= 3      x = x - 3
    4.      *=      x *= 3      x = x * 3
    5.      /=      x /= 3      x = x / 3
    6.      %=      x %= 3      x = x % 3
    7.      //=     x //= 3     x = x // 3
    8.      **=     x **= 3     x = x ** 3
'''
a="kamlesh"
b=544
print(a,b)

kamlesh 544

In [51]:
x=5
y=45
x += y
print(x)

50

In [53]:
# comparision operator
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y
    '''
# equal
a=5
b=5
print(a==b)

True

In [58]:
# not equal
a=5
b=5
print(a!=b)

False

In [61]:
# equal less than
a=10
b=10
print(a<=b)

True

In [64]:
# equal grater than
a=2
b=5
print(a>=b)

False

In [26]:
# logical operator [and,or,not]
# And
a=10
b=21
c=35
print(a<b and a<c)

True

In [36]:
# Or
a=52
b=25
c=45
print(a<b or a>c)

True

In [65]:
# Not
a=5
b=7
c=21
print( not a>b )

True

In [76]:
# identity operator 
# thay are two type
# 1=is and 2=is not
a='kamlesh'
b='kamlesh kumar' 
print(id (a))
print(id (b))
print(a is b)

140053187433728
140053119479472
False

In [1]:
a=25
b=25
print(id(a))
print(id(a))
print(a is not  b)

94637468239648
94637468239648
False

In [6]:
# member function
l = [1, 2, 3, 4]  
e = 5
print(e  not in l)
print('\n')

True

In [3]:
k='kamlesh'
p='ka'
print(p in k )

True

In [25]:
# collection data type
this_list =["apple","book","iam",12,12,58],("kamlesh","kumar","prajapat"),{'brand':'car',"class":6},{"kamlesh",5,5,1,2,5,3,6,5,3}
print(this_list)
#print(this_list [0][4])
#print(this_list[-1]['class'])
# print(this_list[2])
# print(this_list[-1])
# Accessing an element
print('element at position :',this_list[1][2])
# print('before:',this_list)
# this_list[3] = "bhudla"
# print('after:',this_list)
print(id (this_list))
# Geeting a sub list
print(this_list[2])

(['apple', 'book', 'iam', 12, 12, 58], ('kamlesh', 'kumar', 'prajapat'), {'brand': 'car', 'class': 6}, {1, 2, 3, 5, 6, 'kamlesh'})
element at position : prajapat
140233638914952
{'brand': 'car', 'class': 6}

In [4]:
# list data type
k=["kamlesh",25.02,52,'kumar','kumar','prajapat',]
print(k)
print(k [3][2])
print(k[-1] [5])
print(type(k))
print(id(k))
print('before:',k)
k[0]="bhudla"
print('after:',k)
print(k [2])
# sublist
print(len(k))
print(k[0:6:2])
print(k[1:2:1])

['kamlesh', 25.02, 52, 'kumar', 'kumar', 'prajapat']
m
p
<class 'list'>
140663490543944
before: ['kamlesh', 25.02, 52, 'kumar', 'kumar', 'prajapat']
after: ['bhudla', 25.02, 52, 'kumar', 'kumar', 'prajapat']
52
6
['bhudla', 52, 'kumar']
[25.02]

In [20]:
# tuple data type
k=("kamlesh",4,2,6,6,'bhudla',32.32 )
print(k)
print(len(k))
print(id(k))
# k[3]="kumar"
# print('after=',k)
print(k[-1])
print(type(k))

('kamlesh', 4, 2, 6, 6, 'bhudla', 32.32)
7
140663490571384
32.32
<class 'tuple'>

In [36]:
# set data type
k={"kamlesh","kumar",45,45,25}
print(k)
print(type(k))
print('before:',k)
k[3]="prajapat"
print('after:',k)

{'kumar', 'kamlesh', 45, 25}
<class 'set'>
before: {'kumar', 'kamlesh', 45, 25}

TypeError: 'set' object does not support item assignment

In [30]:
# dictionary data type
k={'car':'honda','number':25,'name':'kamlesh','name':'kamlesh'}
print(k)
print(type(k))
print(len(k))

{'car': 'honda', 'number': 25, 'name': 'kamlesh'}
<class 'dict'>
3

In [15]:
# list method
# len method
name=["kamlesh","kumar","prajapat"]
print(len(name))

3

In [18]:
# Add.item of the list -> ending position
name=["kamlesh","kumar"]
name.append('prajapat')
print(name)

['kamlesh', 'kumar', 'prajapat']

In [22]:
# TO add an item at the specified index use  the insert() method
name=["kamlesh","prajapat","bhudla"]
name.insert(1,"kumar")
print(name)

['kamlesh', 'kumar', 'prajapat', 'bhudla']

In [23]:
# Remove item from a list
name=["kamlesh","kumar","prajapat","bhudla"]
name.remove("bhudla")
print(name)

['kamlesh', 'kumar', 'prajapat']

In [45]:
num=[4,8,6,5,2,5,4,6,2]
num.sort(reverse=True)
# x=num[::-1]
print(num)

[8, 6, 6, 5, 5, 4, 4, 2, 2]

In [29]:
# pop()- remove the spicified index (or the last item if index is not specified)
name=["kamlesh","kumar","prjapat","bhudla"]
name.pop(2)
print(name)

['kamlesh', 'kumar', 'bhudla']

In [32]:
# the del keyword remove the spicified index
name=["kamlesh","kumar","prajapat","bhudla"]
del name[0]
print(name)

['kumar', 'prajapat', 'bhudla']

In [37]:
# the clear() method empties the list 
name=["kamlesh","kumar","prajapat","bhudla"]
name.clear()
print(name)

[]

In [42]:
# copy a list
name=["kamlesh","kumar","prajapat","bhudla"]
mylist = name.copy()
print(mylist)
print(name)

['kamlesh', 'kumar', 'prajapat', 'bhudla']
['kamlesh', 'kumar', 'prajapat', 'bhudla']

In [44]:
# another way to make a copy is to use the bulit in method list[]
name=["kamlesh","kumar","prajpat","bhudla"]
mylist=list(name)
print(mylist)

['kamlesh', 'kumar', 'prajpat', 'bhudla']

In [37]:
# count method()
name=["kamlesh","kumar","prajapat","bhudla",5487,2525,2525]
x=name.count(2525)
print(x)

2

In [24]:
# index method()
name=["kamlesh","kumar","prajapat","bhudla",2,5,1.2,54,78]
x=name.index(2)
print(x)

4

In [27]:
# extend()-add element of one list to another
name=["kamlesh","kumar","prajapat","bhudla"]
number=[9587439122,9529320009,9694553075]
name.extend(number)
print(name)

['kamlesh', 'kumar', 'prajapat', 'bhudla', 9587439122, 9529320009, 9694553075]

In [15]:
# reverse()-reverse the element in list
name=['d','c','b','a','f','g',"kamlesh","kumar"]
# name.reverse()
# print(name)
list_1=name[::-1]
print(list_1)

['kumar', 'kamlesh', 'g', 'f', 'a', 'b', 'c', 'd']

In [21]:
# sort()-sorts the element in list
name=["kamlesh","kumar","prajapat",'bhudla']
name.sort()
print(name)
k=name[::-1]
print(k)

['bhudla', 'kamlesh', 'kumar', 'prajapat']
['prajapat', 'kumar', 'kamlesh', 'bhudla']

In [39]:
# tuple- tuple is a collection data type and represent in ().this is oraderd,indexed and unchangeable ,allow duplicate members.
k=("kamlesh","kumar","prajapat")
print(k)
print(type(k))
print(len(k))
print(k[0])
print(k[::-1])
print(k[::1])

('kamlesh', 'kumar', 'prajapat')
<class 'tuple'>
3
kamlesh
('prajapat', 'kumar', 'kamlesh')
('kamlesh', 'kumar', 'prajapat')

In [41]:
# tuple method - tuple data type in for method
# 1.len method()- print the number of item in the value
name=("kamlesh","kumar","prajapat")
print(len(name))

3

In [3]:
# count method()-returen the number of occurences of value
name=("kamlesh","kumar","prjajpat",264,68,35,35,4,35,8,7,25,2,4,3,6,66,35,9,5,95)
x=name.count(35)
print(x)

4

In [1]:
# index - Retrun frist index a value.
name=(2,5,1.2,54,78)
x = name.index(78)
print(x)

4

In [1]:
# del-The del keyword can delete the compilet
name = ("kamlesh","kumar","prajapat","prajapat")
del name()
print(name)

SyntaxError: can't delete function call (<ipython-input-1-3cf990c57207>, line 3)

In [1]:
string="hello welcome to codesession acdamy"
print(tuple(string))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'c', 'o', 'd', 'e', 's', 'e', 's', 's', 'i', 'o', 'n', ' ', 'a', 'c', 'd', 'a', 'm', 'y')

In [3]:
a=int(input('enter your number'))
b=int(input ("enter your second number"))
c=a**b
print(c)

enter your number36
enter your second number36
106387358923716524807713475752456393740167855629859291136

In [6]:
# set data type
this_set={"kamlesh","kumar","codesession"}
print(type(this_set))
print(this_set)

<class 'set'>
{'kumar', 'kamlesh', 'codesession'}

In [8]:
# set data type method
# add.
name={"ram","shyam","radha"}
name.add("krishna")
print(name)

{'shyam', 'ram', 'krishna', 'radha'}

In [17]:
name={"ram","shyam","krishna","radha"}
num={ "kamlesh",95,87,43,91,22}
name.update(num)
print(name)

{43, 'krishna', 'ram', 'kamlesh', 22, 'radha', 87, 'shyam', 91, 95}

In [54]:
# remove and discard ()-remove an item in a set use the remove or the discard
name={'kamlesh',"radhe radhe",'shyam',9587439122}
# name.remove("")
name.discard('kamlesh')
print(name)

{'radhe radhe', 9587439122, 'shyam'}

In [33]:
# difference()-remove all element of another set form this set
set_1={1,2,3,4,"kamlesh",10,15,18,14,25,36,45,7,8}
set_2={1,2,6,8,5,7,5,4,8}
diff_set=set_1.difference (set_2)
print(diff_set)

{3, 36, 10, 45, 14, 15, 18, 'kamlesh', 25}

In [39]:
# difference update ()-remove all element of anoher set form this set the difference_update return none indicating the object set is mutated
set_1={"kamlesh","kumar"}
set_2={2,1,4,5,2,5,69,7,6,"kamlesh"}
result=set_1.difference_update(set_2)
print(result,'\n',set_1,'\n',set_2 )

None
 {'kumar'}
 {1, 2, 4, 69, 5, 7, 6, 'kamlesh'}

In [47]:
name={"kumar","kamlesh","prajapat"}
name.pop()
print(name)

{'kamlesh', 'prajapat'}

In [2]:
#  intersection()rerturen the intereation of two sets as a new set
name={1,2,3,8,4}
num={1,2,3,8}
x=name.intersection(num)
print(x)

{8, 1, 2, 3}

In [15]:
name={"kamlesh kumar prajapat"}
car={"maruti","kumar","kamlesh kumar prajapat"}
x=name.intersection_update(car)
# x=name.intersection(car)
print(x)

None

In [12]:
string="kamlesh kumar prajapat"
print(tuple(string))
print(list(string))
print(set(string))
dic_1={1:'kamlesh',2:'kumar',3:'prajapat'}
print(type(dic_1))
print("Dictionary afer conversion is : "+ str(dict(dic_1)) )

('k', 'a', 'm', 'l', 'e', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r', ' ', 'p', 'r', 'a', 'j', 'a', 'p', 'a', 't')
['k', 'a', 'm', 'l', 'e', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r', ' ', 'p', 'r', 'a', 'j', 'a', 'p', 'a', 't']
{'s', 'r', 'p', 'j', 'l', 't', 'a', ' ', 'k', 'u', 'h', 'm', 'e'}
<class 'dict'>
Dictionary afer conversion is : {1: 'kamlesh', 2: 'kumar', 3: 'prajapat'}

In [55]:
name={"kamlesh",'kumar'}
x=name.clear()
print(x)
# print(name)

None

In [1]:
name={'kamlesh',5,5,2,1,4,6,9,3,4,8,2}
name.pop()
print(name)

{2, 3, 4, 5, 6, 8, 9, 'kamlesh'}

In [5]:
# union() returen the union of set as a new set.(i.e.all element that are in either set)
set1={'a','b','c','d'}
set2={'a','b','c','f'}
union_set=set1.union(set2)
print(union_set)

{'b', 'c', 'a', 'f', 'd'}

In [12]:
# isdisjoint()-returen true if two set have and faluse.
x={1,3,2,5,7,5}
y={1,2,4,6,8,9,6,5}
z={10,43,54,64,9}
c=x.isdisjoint(y)
d=x.isdisjoint(z)
print(d)
print(c)

True
False

In [20]:
# issubset()-repport whether  another set contain this set
a={1,2,3,4,5}
b={1,2,3,4,}
c={2,3,4,23,23}
m=c.issubset(a)
x=b.issubset(a)
print(x)
print(m)

True
False

In [30]:
# issuperset()-report whether this set contain another set
a={'a','f','g','e','q'}
b={'a','e','q'}
c={'a','f','e'}
y=a.issuperset(c)
x=a.issuperset(b)
print(x)
print(y)

True
True

In [34]:
# get the length method
a={'kamlesh kumar prajpat','bhudla'}
print(len(a))

2

In [36]:
a={"kamlesh kumar prajapat"}
a.clear()
print(a)

set()

In [39]:
set1={1,2,4,5}
print(set1[0])

TypeError: 'set' object is not subscriptable

In [6]:
# conditinal statement on set 
# help acess element
x={'my','name','is'}
for y in x:
         print(y)

name
my
is

In [16]:
# check if an item is present in the set
set1={'kamlesh','kumar','prajapat'}
if "boss" in set1:
    print("yes kamlesh is in this set1")
else:
            print("sorry this is not set1")

sorry this is not set1

In [18]:
# dictionary data type
# creating a dictionary
dict={'class':1,'brand':'food','year':2000}
print(dict)

{'class': 1, 'brand': 'food', 'year': 2000}

In [23]:
brand=dict['class']
print(brand)

1

In [34]:
# changing and adding a value in the dicitonary
dict={'class':2,'brand':'food','year':2000}
dict ["year"]=2020
dict ['class']=12
dict ['brand']='kamlesh'
print(dict)

{'class': 12, 'brand': 'kamlesh', 'year': 2020}

In [10]:
# dictionary method
# get()-accessing an element
dict_1={'a':1,'b':2,'c':3,'brand':'kamlesh boss'}
# brand=dict.get(brand)
# print(brand)
for k in dict_1:
    print(k)

a
b
c
brand

In [2]:
# update()-add item of one dict into another
dict1={1:'a'}
dict2={2:'b'}
dict1.update(dict2)
print(dict1)

{1: 'a', 2: 'b'}

In [3]:
a=int(input("enter your no "))
b=int(input("enter your second no"))
if a<b:
    print("hii")
elif a>b:
    print("heloo")
else:
    print(f"a is equal b")

enter your no 2
enter your second no2
a is equal b