In [1]:
print("hello good morning everyone")

hello good morning everyone

In [4]:
a="kamlesh"
print(a)

kamlesh

In [6]:
q="kamlesh"
p="kumar"
print(q,p)

kamlesh kumar

In [8]:
x="kamlesh"
y='kumar'
z=x+y
print(z)

kamleshkumar

In [11]:
a=10
b='kamlesh'
print(a,b)

10 kamlesh

In [13]:
a=5
b=10
c=a+b
print(c)

15

In [26]:
a,b,c,d='kamlesh','kumar','prajapat','bhudla'
print(a)
# print(d)
print(b)
print(c)
d="bassi"
print(d)

kamlesh
kumar
prajapat
bassi

In [27]:
a="kamlesh"
a="bassi"
print(a)

bassi

In [29]:
# input
a=input("enter your name")
print("your name is ",a)

enter your namekamlesh
your name is  kamlesh

In [32]:
a=input("enter your frist name ")
b=input("enter your second name ")
print("your name is ", a+b)

enter your frist name kamlesh
enter your second name kumar
your name is  kamleshkumar

In [34]:
a=input("enter your no ")
b=input("enter your second no ")
print("your no is ",a+b)

enter your no 6569+
enter your second no 3
your no is  6569+3

In [36]:
a=int(input("enter your frist no "))
b=int(input ("enter your second no "))
print("your no is " ,a+b)

enter your frist no 36
enter your second no 36
your no is  72

In [38]:
k="'kamlesh kumar'"
print(k)

'kamlesh kumar'

In [40]:
k='"kamlesh kumar"'
print(k)

"kamlesh kumar"

In [44]:
k='''
kamlesh
kumar 
prajapat
'''
print(k)

kamlesh
kumar
prajapat

In [46]:
k="""kamlesh
kumar
prajapat
"""
print(k)

kamlesh
kumar
prajapat

In [48]:
k="kamlesh\n kumar"
print(k)

kamlesh
 kumar

In [50]:
k="kamlesh\n\tkumar"
print(k)

kamlesh
	kumar

In [52]:
k=R"kamlesf\n"
print(k)

kamlesf\n

In [54]:
# indexing in string
k="kamlesh kumar prajapat"
print(len(k))

22

In [1]:
a="kamlesh kumar prajapat"
print(len(a))
print(a[0])
print(a[-1])
print(a[7])
print(a[11])

22
k
t

a

In [62]:
a="KAMLESH KUMAR PRAJAPAT"
print(a.lower())

kamlesh kumar prajapat

In [64]:
a="kamlesh kumar prajapat"
print(a.upper())

KAMLESH KUMAR PRAJAPAT

In [67]:
a="  kamlesh kumar prajapat    "
print(a.strip())

kamlesh kumar prajapat

In [70]:
a="kamlesh kumar "
b="prajapat"
print(a.lstrip()+b)

kamlesh kumar prajapat

In [73]:
a="helo kamlesh"
print(a.replace("helo","hii"))

hii kamlesh

In [78]:
a="kamlesh"
x=a.split("m")
print(x)

['ka', 'lesh']

In [80]:
a="kamlesh"
a.capitalize()

'Kamlesh'

In [87]:
# string format
'''a=int((input('enter your age')))
b=int(input('enter your dob'))
print("my age is",a)
print("my age is "a+b(a))
'''

'a=int((input(\'enter your age\')))\nb=int(input(\'enter your dob\'))\nprint("my age is",a)\nprint("my age is "a+b(a))\n'

In [90]:
x="hello {0} how are you {1} "
print(x.format("kamlesh","fine"))

hello kamlesh how are you fine

In [95]:
a="hello"
b="kamlesh"
print(F"hii",{a},{b})

hii {'hello'} {'kamlesh'}

In [97]:
print("the kamlesh live on {} {} {}".format("instagram","and","facebook"))

the kamlesh live on instagram and facebook

In [103]:
print("i`m %s %s form bhudla" %("kamlesh","kumar"))

i`m kamlesh kumar form bhudla

In [106]:
x,y,z,w="kamlesh","codesession","bhudla","jaipur"
print("i`m %s my class %s form %s %s"%(x,y,z,w))

i`m kamlesh my class codesession form bhudla jaipur

In [2]:
print('my name is %s '%'kamlesh')

my name is kamlesh

In [40]:
# opterators
# opterators are youed to perform operation on variable and value
num_1=int(input("enter your frist number:"))
num_2=int(input("ente your scond number: "))
a=num_1
b=num_2
c=a+b
d=a-b
e=a*b
f=a/b
g=a**b
h=a//b
i=a%b
print(f"add{c}","\n","sub",d,"\n","mul",e,"\n","div",f,"\n","exponentation",g,"\n","floor dev",h,"\n","moudls",i)

enter your frist number:5
ente your scond number: 5
add10
 sub 0
 mul 25
 div 1.0
 exponentation 3125
 floor dev 1
 moudls 0

In [21]:
a=10
a **=20
print(a)

100000000000000000000

In [34]:
a=20
b=20
print(a<=b)

True

In [45]:
a=10
b=2
c=10
print(b<c and a>b)

True

In [49]:
a=3
b=4
c=1
print(a<c or b<c)

False

In [54]:
a=10
b=20
n=5
print( not a<n)

True

In [60]:
a=52
b=52
print(id(a))
print(id(b))
print(a is not  b)

94141861980800
94141861980800
False

In [64]:
k="kamlesh"
b="ka"
print(b not in k)

False

In [5]:
# collection data type
name=["kamlesh","kumar","prajapat",5,8,5,1,4,6,8,3,2]
print(name)
print(len(name))
print(name[0])
print(name[-1])
print(name[0:12:2])
print('before=',name)
name[3]="bhudla"
print('after=',name)

['kamlesh', 'kumar', 'prajapat', 5, 8, 5, 1, 4, 6, 8, 3, 2]
12
kamlesh
2
['kamlesh', 'prajapat', 8, 1, 6, 3]
before= ['kamlesh', 'kumar', 'prajapat', 5, 8, 5, 1, 4, 6, 8, 3, 2]
after= ['kamlesh', 'kumar', 'prajapat', 'bhudla', 8, 5, 1, 4, 6, 8, 3, 2]

In [7]:
name=['kamlesh','kumar']
name.append("prajapat")
print(name)

['kamlesh', 'kumar', 'prajapat']

In [3]:
name=["kamlesh","kumar"]
name.insert(2,"prajapat")
print(name)

['kamlesh', 'kumar', 'prajapat']

In [6]:
name=["kamlesh","kumar","prajapat","bhudla"]
name.remove("bhudla")
print(name)

['kamlesh', 'kumar', 'prajapat']

In [9]:
name=["kamlesh","kumar","prajapat"]
name.pop(1)
print(name)

['kamlesh', 'prajapat']

In [16]:
name=["kamlesh","kumar","prajapat"]
del name[1]
print(name)

['kamlesh', 'prajapat']

In [19]:
name=["kamlesh","kumar","prajapt"]
this=name.copy()
print(this)

['kamlesh', 'kumar', 'prajapt']

In [22]:
name=['kamlesh','kumar','prajapat']
this=list(name)
print(name)

['kamlesh', 'kumar', 'prajapat']

In [25]:
name=["kamlesh","kumar","prajapat"]
x=name.count("kamlesh")
print(x)

1

In [29]:
name=["kamlesh","kumar","prajapat"]
x=name.index('prajapat')
print(x)

2

In [33]:
 name=["kamlesh","kumar","prajapat"]
number=(9587439122,9529086970)
name.extend(number)
print(name)

['kamlesh', 'kumar', 'prajapat', 9587439122, 9529086970]

In [35]:
name=["kamlesh","kumar","prajapat"]
name.reverse()
print(name)

['prajapat', 'kumar', 'kamlesh']

In [42]:
name=['s','d','r','f','a','c','x','z','v','b','n','m','l','k','j','h','g','p','o','i','y','t','e','w','q','u']
name.sort()
print(name)
print(len(name))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
26

In [1]:
if 6<5:
    print("hiii")
else:
    print("heloo")

heloo

In [1]:
# set data type
a={'a','b','c'}
a.add("d")
print(a)
a.update("e")
print(a)
a.remove("e")
print(a)
a.discard("a")
print(a)
a.pop()
print(a)
a.clear()
print(a)
# set={2,4,7,8,9,6,3,2,1}
# for x in set:
#     print(x)
set1={1,2,3,4,56,7,89,}
if 10 in set1:
        print("yes")
else:
    print("no")

{'c', 'd', 'b', 'a'}
{'a', 'e', 'c', 'd', 'b'}
{'a', 'c', 'd', 'b'}
{'c', 'd', 'b'}
{'d', 'b'}
set()
no

In [3]:
# extera
# update dict
dict={1:'kamlesh',2:'kumar',3:'prajapat'}
dict1={4:'bhudla',5:'bassi',6:'jaipur'}
dict.update(dict1)
print(dict)

{1: 'kamlesh', 2: 'kumar', 3: 'prajapat', 4: 'bhudla', 5: 'bassi', 6: 'jaipur'}

In [4]:
# get in dict
a={'class':3,'village':'bhudla',"name":"kamlesh"}
name=a.get('name')
print(name)
a['class']=10
a['village']='rajwas'
a[name]='gunu'
a['fullname']='kamlesh kumar prajapat'
print(a)

kamlesh
{'class': 10, 'village': 'rajwas', 'name': 'kamlesh', 'kamlesh': 'gunu', 'fullname': 'kamlesh kumar prajapat'}

In [8]:
set={'kamlesh','shyam','ram'}
if 'teena' in set:
    print("yes ram is here ")
else:
    print("sorry data not found")

sorry data not found

In [12]:
set={1,2,5,'k.t'}
for x in set:
    print(x)

1
2
k.t
5

In [16]:
set={1,25,4,8,96,58,589,33568,689+9,2595,2659+56,897679887,56}
print(len(set))
set.clear()
print(set)

13
set()

In [36]:
# issuperset
set={4,2,5,8}
set1={4,2,5,86,}
set2={2,4,5,86,90}
a=set1.issuperset(set2)
print(a)

False

In [43]:
# issubset
a={258,54,87}
b={258,54,87}
c=a.issubset(b)
print(c)

True

In [52]:
# isdisjoint
a={5,8,9}
b={5,8,}
c=a.isdisjoint(b)
print(c)

False

In [54]:
a={1,5,24,5,12,4,245,}
b={1,8,5,7,36897,4725749,}
c=a.union(b)
print(c)

{1, 36897, 4, 5, 7, 8, 12, 245, 4725749, 24}

In [58]:
a={'k','v','s','r'}
b={'j','s','d','e'}
c=a.intersection_update(b)
print(c)

None

In [61]:
a={1,5,3,68,4,35}
b={1,5,2,35,1}
c=a.intersection(b)
print(c)

{1, 35, 5}

In [79]:
# a={1,5,8,6,64}
b={1,5,4,59,5,2}
# c=b.difference_update(a)
# print(c)
# a.discard(35)
# print(a
# b.remove(4)
b.add(40)
# b.update(4)
print(b)

{1, 2, 4, 5, 40, 59}

In [83]:
a={'kamlesh'}
a.update("kumar")
print(a)

{'a', 'k', 'm', 'kamlesh', 'u', 'r'}