In [1]:
print("hello good morning everyone")

hello good morning everyone

In [4]:
a="kamlesh"
print(a)

kamlesh

In [6]:
q="kamlesh"
p="kumar"
print(q,p)

kamlesh kumar

In [8]:
x="kamlesh"
y='kumar'
z=x+y
print(z)

kamleshkumar

In [11]:
a=10
b='kamlesh'
print(a,b)

10 kamlesh

In [13]:
a=5
b=10
c=a+b
print(c)

15

In [26]:
a,b,c,d='kamlesh','kumar','prajapat','bhudla'
print(a)
# print(d)
print(b)
print(c)
d="bassi"
print(d)

kamlesh
kumar
prajapat
bassi

In [27]:
a="kamlesh"
a="bassi"
print(a)

bassi

In [29]:
# input
a=input("enter your name")
print("your name is ",a)

enter your namekamlesh
your name is  kamlesh

In [32]:
a=input("enter your frist name ")
b=input("enter your second name ")
print("your name is ", a+b)

enter your frist name kamlesh
enter your second name kumar
your name is  kamleshkumar

In [34]:
a=input("enter your no ")
b=input("enter your second no ")
print("your no is ",a+b)

enter your no 6569+
enter your second no 3
your no is  6569+3

In [36]:
a=int(input("enter your frist no "))
b=int(input ("enter your second no "))
print("your no is " ,a+b)

enter your frist no 36
enter your second no 36
your no is  72

In [38]:
k="'kamlesh kumar'"
print(k)

'kamlesh kumar'

In [40]:
k='"kamlesh kumar"'
print(k)

"kamlesh kumar"

In [44]:
k='''
kamlesh
kumar 
prajapat
'''
print(k)

kamlesh
kumar
prajapat

In [46]:
k="""kamlesh
kumar
prajapat
"""
print(k)

kamlesh
kumar
prajapat

In [48]:
k="kamlesh\n kumar"
print(k)

kamlesh
 kumar

In [50]:
k="kamlesh\n\tkumar"
print(k)

kamlesh
	kumar

In [52]:
k=R"kamlesf\n"
print(k)

kamlesf\n

In [54]:
# indexing in string
k="kamlesh kumar prajapat"
print(len(k))

22

In [60]:
a="kamlesh kumar prajapat"
print(a[0])
print(a[-1])
print(a[7])
print(a[11])

k
t

a

In [62]:
a="KAMLESH KUMAR PRAJAPAT"
print(a.lower())

kamlesh kumar prajapat

In [64]:
a="kamlesh kumar prajapat"
print(a.upper())

KAMLESH KUMAR PRAJAPAT

In [67]:
a="  kamlesh kumar prajapat    "
print(a.strip())

kamlesh kumar prajapat

In [70]:
a="kamlesh kumar "
b="prajapat"
print(a.lstrip()+b)

kamlesh kumar prajapat

In [73]:
a="helo kamlesh"
print(a.replace("helo","hii"))

hii kamlesh

In [78]:
a="kamlesh"
x=a.split("m")
print(x)

['ka', 'lesh']

In [80]:
a="kamlesh"
a.capitalize()

'Kamlesh'

In [87]:
# string format
'''a=int((input('enter your age')))
b=int(input('enter your dob'))
print("my age is",a)
print("my age is "a+b(a))
'''

'a=int((input(\'enter your age\')))\nb=int(input(\'enter your dob\'))\nprint("my age is",a)\nprint("my age is "a+b(a))\n'

In [90]:
x="hello {0} how are you {1} "
print(x.format("kamlesh","fine"))

hello kamlesh how are you fine

In [95]:
a="hello"
b="kamlesh"
print(F"hii",{a},{b})

hii {'hello'} {'kamlesh'}

In [97]:
print("the kamlesh live on {} {} {}".format("instagram","and","facebook"))

the kamlesh live on instagram and facebook

In [103]:
print("i`m %s %s form bhudla" %("kamlesh","kumar"))

i`m kamlesh kumar form bhudla

In [106]:
x,y,z,w="kamlesh","codesession","bhudla","jaipur"
print("i`m %s my class %s form %s %s"%(x,y,z,w))

i`m kamlesh my class codesession form bhudla jaipur

In [2]:
print('my name is %s '%'kamlesh')

my name is kamlesh

In [40]:
# opterators
# opterators are youed to perform operation on variable and value
num_1=int(input("enter your frist number:"))
num_2=int(input("ente your scond number: "))
a=num_1
b=num_2
c=a+b
d=a-b
e=a*b
f=a/b
g=a**b
h=a//b
i=a%b
print(f"add{c}","\n","sub",d,"\n","mul",e,"\n","div",f,"\n","exponentation",g,"\n","floor dev",h,"\n","moudls",i)

enter your frist number:5
ente your scond number: 5
add10
 sub 0
 mul 25
 div 1.0
 exponentation 3125
 floor dev 1
 moudls 0

In [21]:
a=10
a **=20
print(a)

100000000000000000000

In [34]:
a=20
b=20
print(a<=b)

True

In [45]:
a=10
b=2
c=10
print(b<c and a>b)

True

In [49]:
a=3
b=4
c=1
print(a<c or b<c)

False

In [54]:
a=10
b=20
n=5
print( not a<n)

True

In [60]:
a=52
b=52
print(id(a))
print(id(b))
print(a is not  b)

94141861980800
94141861980800
False

In [63]:
k="kamlesh"
b="ka"
print(b not in k)

False